* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    background-color: #3B3936;
    color: beige;
}
.titulo-destaque{
    color: #B808BF;

}
.class2{
    color:green;
}
span{
    color: #BD2A2E;
    border: 1px solid #B2BEBF;
    padding: 10px;
}
